adal==1.2.7
aiomysql==0.0.22
aioredis==2.0.1
altair==4.1.0
anyio==3.6.1
APScheduler==3.10.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
async-generator==1.10
async-timeout==4.0.2
attrs==19.3.0
Authlib==1.2.1
azure-applicationinsights==0.1.1
azure-batch==4.1.3
azure-common==1.1.28
azure-core==1.24.2
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.6
azure-datalake-store==0.0.52
azure-eventgrid==1.3.0
azure-graphrbac==0.40.0
azure-keyvault==1.1.0
azure-loganalytics==0.1.1
azure-mgmt==4.0.0
azure-mgmt-advisor==1.0.1
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.50.0
azure-mgmt-batch==5.0.1
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-cdn==3.1.0
azure-mgmt-cognitiveservices==3.0.0
azure-mgmt-commerce==1.0.1
azure-mgmt-compute==4.6.2
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-containerservice==4.4.0
azure-mgmt-cosmosdb==0.4.1
azure-mgmt-datafactory==0.6.0
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==1.0.0
azure-mgmt-devspaces==0.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-dns==2.1.0
azure-mgmt-eventgrid==1.0.0
azure-mgmt-eventhub==2.6.0
azure-mgmt-hanaonazure==0.1.1
azure-mgmt-iotcentral==0.1.0
azure-mgmt-iothub==0.5.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-logic==3.0.0
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-managementgroups==0.1.0
azure-mgmt-managementpartner==0.1.1
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-media==1.0.1
azure-mgmt-monitor==0.5.2
azure-mgmt-msi==0.2.0
azure-mgmt-network==2.7.0
azure-mgmt-notificationhubs==2.1.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==0.1.0
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-recoveryservices==0.3.0
azure-mgmt-recoveryservicesbackup==0.3.0
azure-mgmt-redis==5.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.2.1
azure-mgmt-resource==2.2.0
azure-mgmt-scheduler==2.0.0
azure-mgmt-search==2.1.0
azure-mgmt-servicebus==0.5.3
azure-mgmt-servicefabric==0.2.0
azure-mgmt-signalr==0.1.1
azure-mgmt-sql==0.9.1
azure-mgmt-storage==2.0.0
azure-mgmt-subscription==0.2.0
azure-mgmt-trafficmanager==0.50.0
azure-mgmt-web==0.35.0
azure-nspkg==3.0.2
azure-servicebus==0.21.1
azure-servicefabric==6.3.0.0
azure-servicemanagement-legacy==0.20.7
azure-storage-blob==12.13.1
azure-storage-common==1.4.2
azure-storage-file==1.4.0
azure-storage-queue==1.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
bleach==4.1.0
blinker==1.5
body==0.1
boto3==1.18.44
botocore==1.21.65
bs4==0.0.2
cachelib==0.6.0
cachetools==4.2.4
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
Click==7.0
colorhash==2.0.0
comm==0.1.4
commonmark==0.9.1
configparser==5.2.0
contextlib2==21.6.0
contextvars==2.4
crypto==1.4.1
cryptography==40.0.2
cycler==0.10.0
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
entrypoints==0.4
et-xmlfile==1.1.0
Faker==14.2.1
fastapi==0.79.0
ffmpeg==1.4
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Dance==3.0.0
Flask-MonitoringDashboard==3.0.6
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==2.5.1
git-filter-repo==2.47.0
gitdb==4.0.9
GitPython==3.1.18
greenlet==2.0.2
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==2.10
immutables==0.18
importlib-metadata==1.4.0
importlib-resources==5.1.3
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.8.5
isodate==0.6.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.0
jmespath==0.10.0
joblib==0.14.1
jsonify==0.5
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab_widgets==1.1.11
kiwisolver==1.1.0
kneed==0.5.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mistune==0.8.4
more-itertools==8.1.0
msrest==0.7.1
msrestazure==0.6.4
mysql-connector-python==8.0.21
Naked==0.1.31
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.6.0
notebook==6.4.10
numpy==1.18.1
oauthlib==2.1.0
openai==0.8.0
openpyxl==3.1.3
packaging==21.3
pandas==0.25.3
pandocfilters==1.5.1
parso==0.7.1
pexpect==4.9.0
pickleshare==0.7.5
pika==1.3.1
Pillow==8.4.0
prometheus-client==0.17.1
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==7.0.0
ptyprocess==0.7.0
pyarrow==6.0.1
pycparser==2.21
pydantic==1.9.2
pydeck==0.6.2
pydub==0.25.1
Pygments==2.14.0
PyJWT==2.4.0
Pympler==1.1
PyMySQL==0.9.3
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python-dotenv==0.20.0
python-multipart==0.0.5
pytz==2019.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.3
pyzmq==24.0.1
qrcode==7.3.1
rabbitmq==0.2.0
redis==4.1.4
regexp==0.1
requests==2.27.1
requests-oauthlib==1.1.0
rfc3986==1.5.0
rich==12.6.0
s3transfer==0.5.0
schedule==1.1.0
scikit-learn==0.22.1
scipy==1.5.4
semver==2.13.0
Send2Trash==1.8.3
shellescape==3.8.1
six==1.17.0
sklearn==0.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
spotipy==2.23.0
SQLAlchemy==1.4.54
starlette==0.19.1
streamlit==1.10.0
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
twilio==7.17.0
typing_extensions==4.1.1
tzdata==2023.3
tzlocal==4.2
urllib3==1.26.20
URLObject==2.4.3
uvicorn==0.16.0
validators==0.20.0
vulture==2.8
watchdog==2.3.1
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.6.10
wincertstore==0.2
wrapt==1.15.0
xgboost==0.90
xlrd==2.0.1
xlwt==1.3.0
zipp==2.0.1
